{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile — RentHub</title>
    <link rel="stylesheet" type="text/css" href="{% static 'users/css/profile.css' %}">
</head>
<body>
    <header>
        <div class="logo">
            <a href="/">RentHub</a>
        </div>
        <nav>
            <a href="/api/listings">Main</a>
            <a href="/api/listings/create">Create listing</a>
            <a href="/about/">About us</a>
            <a id="profile"  href="/user/profile/">Profile</a>
        </nav>
    </header>

    <main>
        <section class="user-container">
            <h1>Profile Info</h1>
            {% if user.is_authenticated %}
                <div class="user">
                    <div class="user-item">
                        <div class="user-info">
                            <h2>{{ user.email }}</h2>
                            <p>Joined: {{ user.date_joined }}</p>
                        </div>
                    </div>
                </div>
            {% else %}
                <p>Пожалуйста, войдите в систему, чтобы просмотреть профиль.</p>
            {% endif %}
        </section>
    </main>

    <footer>
        <p>&copy; 2025 RentHub — All rights are protected.</p>
    </footer>
</body>
</html>
