{% load static %}
<header>
    <div class="logo">
        <a href="/">RentHub</a>
    </div>
    <nav>
        <a href="/listings">Main</a>
        <a href="/listings/my">My listings</a>
        <a href="/user/profile/">Profile</a>
    </nav>
</header>
<h2 id="yourbookings">Your Bookings</h2>
<link rel="stylesheet" href="{% static 'bookings/css/user_bookings.css' %}">
<table id="bookings-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Status</th>
            <th>Is confirmed</th>
            <th>Start Date</th>
            <th>End Date</th>
        </tr>
    </thead>
    <tbody>
        {% for booking in bookings %}
        <tr id="booking-{{ booking.id }}">
            <td>{{ booking.id }}</td>
            <td>{{ booking.title }}</td>
            <td>{{ booking.status }}</td>
            <td>{{ booking.is_confirmed }}</td>
            <td>{{ booking.start_date }}</td>
            <td>{{ booking.end_date }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>