{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ads - reservation of housing</title>
    <link rel="stylesheet" type="text/css" href="{% static 'listings/css/listings_list.css' %}">
</head>
<body>
    <header>
        <div class="logo">
            <a href="/">RentHub</a>
        </div>
        <nav>
            <a id="main" href="/">Main</a>
            <a href="/listings/create">Create listing</a>
            <a href="/about/">About us</a>
            <a href="/user/profile/">Profile</a>
        </nav>
    </header>

    <main>
        <section class="search-bar">
            <input type="text" placeholder="Search by name or location" class="search-input">
            <button class="search-button">Search</button>
        </section>

        <section class="listings-container">
            <h1>Advertisement</h1>
            {% if listings %}
                <div class="listings">
                    {% for listing in listings %}
                        <div class="listing-item">
                            <img src="{% if listing.image %}{{ listing.image.url }}{% else %}{% static 'media/listings/images/images.jpg' %}{% endif %}" alt="{{ listing.title }}" class="listing-image">
                            <div class="listing-info">
                                <h2>{{ listing.title }}</h2>
                                <p>{{ listing.description }}</p>
                                <p><strong>Price:</strong> {{ listing.price }} $</p>
                                <p><strong>Reviews:</strong> {{ listing.review_count }} <span class="rating">★★★★★</span></p>
                                <a href="{% url 'listing_detail' listing.id %}" class="view-details">Detailed</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="pagination">
                    {% if listings.has_previous %}
                        <a href="?page=1">&laquo; First</a>
                        <a href="?page={{ listings.previous_page_number }}">Previous</a>
                    {% endif %}
                    <span class="current">
                        Page {{ listings.number }} of {{ listings.paginator.num_pages }}.
                    </span>
                    {% if listings.has_next %}
                        <a href="?page={{ listings.next_page_number }}">Next</a>
                        <a href="?page={{ listings.paginator.num_pages }}">Last &raquo;</a>
                    {% endif %}
                </div>
            {% else %}
                <p>There are no available ads.</p>
            {% endif %}
        </section>
    </main>

    <footer>
        <p>&copy; 2025 RentHub — All rights are protected.</p>
    </footer>
</body>
</html>
